/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$header-height: 5em;
$footer-height: 5em;

/*
* {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
*/

/* Styles */
html {
  height:100%;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  width: 100%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

td {
	padding: 12px;
}

.h2 {
  font: 50px 'Arial';
  color: $vin-blue;
}

.input {
    width: 40px;
    height: 17px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}

.content{
  flex:1;
  min-height: calc(100vh - #{$header-height + $footer-height});
}

.centered {
  position: fixed; /* or absolute */
  top: 40%;
  left: 50%;
}

.head {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: $header-height;
  padding: 0.5em;

}

.head1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.head3 {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
}

.foot {
  display:flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: $footer-height;
  padding: 0.5em;
}

.foot1 {
  display:flex;
  flex:1;
  flex-direction: column;
}
